<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">WebDev-Kurse Shop</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">

      {{#if isHome}}
        <li class="active"> <a href="/">Home</a> </li>
      {{else}}
        <li> <a href="/">Home</a> </li>
      {{/if}}

      {{#if isCourses}}
        <li class="active"> <a href="/courses">Kurse</a> </li>
      {{else}}
        <li> <a href="/courses">Kurse</a> </li>
      {{/if}}

      {{#if isAuth}}

        {{#if isAdd}}
          <li class="active"> <a href="/add">Kurs hinzufügen</a> </li>
        {{else}}
          <li> <a href="/add">Kurs hinzufügen</a> </li>
        {{/if}}

        {{#if isProfile}}
          <li class="active"> <a href="/profile">Profil</a> </li>
        {{else}}
          <li> <a href="/profile">Profil</a> </li>
        {{/if}}

        {{#if isCard}}
          <li class="active"> <a href="/card">Warenkorb</a> </li>
        {{else}}
          <li> <a href="/card">Warenkorb</a> </li>
        {{/if}}

        {{#if isOrder}}
          <li class="active"> <a href="/orders">Bestellungen</a> </li>
        {{else}}
          <li> <a href="/orders">Bestellungen</a> </li>
        {{/if}}
        <li> <a href="/auth/logout">Logout</a> </li>
      {{else}}
        {{#if isLogin}}
          <li class="active"> <a href="/auth/login#login">Login</a> </li>
        {{else}}
          <li> <a href="/auth/login#login">Login</a> </li>
        {{/if}}
      {{/if}}
    </ul>
  </div>
</nav>